*{
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body{
  height:100%;
  margin:0;
  padding: 0;
  background-color: #F0F0F0;
}
header{
  position: relative;
  margin:0;
  height:50%;
  width:100%;
  background-image: url(wot-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

nav{
  margin: 0;
  position: fixed;
  width:100%;
  height:10%;
  margin-top: 2%;
  color:white;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  z-index: 1000;
}

a{
  color:white;
  text-decoration: none;
  margin: 10px 10px;
  width: 100%;
}

a:hover{
    border-bottom: 2px solid #BDD235;
}

@media screen and (max-width: 799px) {
  nav{
    background-color: white;
    height: 10vh;
    margin-top: 0;
  }
  .top-bar{
    display: none;
  }

  .logo-lg{
    display: none;
  }

  a{
    color:black;
  }

  a:hover{
    border-bottom: 2px solid blue;
  }

  /* START OF HAMBURGER CSS */

  .nav {
    position: fixed;
    right:10%;
    padding: 0px;
    color:black;
    background-color: white;
}

  .nav ul {
      list-style: none;
  }

  #menu {
      display: none;
  }

  #menu-toggle {
      cursor: pointer;
      position: absolute;
      clip: rect(0, 0, 0, 0);
  }

  label[for="menu-toggle"]:before {
      content: "\2630";
      padding: 0px 10px 0px 0px;
  }

  #menu-toggle:checked + #menu {
      display: block;
  }

  /* END OF HAMBURGER CSS */

  .logo-sm{
    position:absolute;
    z-index: 1000;
    margin:0;
    top:4%;
    left:2%;
    width:51px;
    height:51px;
  }

}

@media screen and (min-width: 800px){
  .logo-sm{
    display: none;
  }

  #menu{
    display: none;
  }

  #menu-toggle{
    display: none;
  }

  .logo-lg{
    position:absolute;
    top:4%;
    left:10%;
    width:151px;
    height:31px;
  }

  .top-bar{
    position: absolute;
    top:3%;
    right:15%;
    padding-bottom: 10px;
  }
}

.center-piece{
  position: absolute;
  display: block;
  top:10vh;
  left:35vw;
  width:100%;
  color:#fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
.top-piece{
  position: absolute;
  font-size: 2em;
  margin:0;
}

.core{
  margin:0;
  font-size:7em;
}

.sub{
  margin-left: 3vw;
  font-size: 1.5em;
}

.orange{
  color:#FF803A;
}

.green{
  color:#BDD235;
}

button{
  color:white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  display:block;
  padding: 0;
  border: none;
  width:368px;
  height:48px;
  margin-left: 3vw;
  background-color: #BDD235;
  border-radius: 24px;
}

button:hover{
  background-color: #c3d838;
}

main{
  height: 100%;
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
}

.main-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color:#6A787C;
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3%;
}

.main2{
  margin-top: 1%;
  font-family: "Oswald",sans-serif;
  font-size:3em;
  color:#6E7C80;
}

@media screen and (max-width: 700px) {
  .center-piece{
    position: absolute;
    display: block;
    top:11VH;
    left:25VW;
    width: 100%;
    margin: 0 auto;
  }
  .top-piece{
    display: block;
    position: relative;
    left:0;
    font-size: 2em;
    padding-left: 10%;
  }

  .core{
    display: block;
    left: 0;
    font-size: 3.5em;
  }

  .sub{
    margin-right: 50%;
    font-size: 1em;
  }

  button{
    width:134px;
    height:24px;
    border-radius: 12px;
    margin-right: 58%;
  }
}